@use "../base/variables" as v;
@use "../base/mixins" as m;
// Banner

.banner {
	width: auto;
	height: 70rem;
	display: block;
	margin: auto;
	background-size: 100% 100%;
	animation: banner 20s infinite;
	animation-direction: alternate-reverse;
	@include m.desktop {
		width: 100%;
	}
}
@keyframes banner {
	0%,
	30% {
		background-image: url("/build/img/couple-riding-motorbike-wearing-helmets.webp");
	}

	35%,
	65% {
		background-image: url("/build/img/car-engine.webp");
	}

	70%,
	100% {
		background-image: url("/build/img/man-driving-car-from-rear-view.webp");
	}
}
//
.imagen {
	position: relative;
	max-height: 70rem;
	min-height: 50rem;
	.overlay {
		position: absolute;
		background: rgb(255, 255, 255);
		background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.03995101458552175) 0%,
			rgba(48, 48, 43, 0.5) 4%
		);
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.contenido-imagen {
	z-index: 10;
	h2 {
		color: v.$blanco;
		font-size: 7rem;
		margin: 0;
	}
	p {
		background-color: v.$amarillo;
		display: inline-block;
		padding: 1rem 2rem;
		color: v.$blanco;
		font-weight: 700;
		font-size: 2rem;
		margin: 0;
	}
}
